
<div *ngIf="user.trial" class="col-md-12 trial-banner">
  <footer class="footer mt-auto py-3">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="container div-center">
            <span class="font-style">Você ainda tem <strong>{{daysLeft}} dias</strong> de uso grátis.   <button routerLink="/manage" type="button" class="btn-custom-decline zoom">Assinar</button></span>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

