.zoom {
  transition: transform .2s;
  /* Animation */
}

.zoom:hover {
  transform: scale(1.2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.trial-banner{
  margin-bottom: -100px; margin-top: -50px; z-index: 9!important;
}

.font-style {
  color: #0A273D;
  font-family: 'Amatic SC';
  font-size: 1.8rem;
}

