
<div *ngIf="user.admin" class="col-md-12" style="margin-bottom: -100px; margin-top: -50px; z-index: 10!important;">
  <footer class="footer mt-auto py-3">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="container div-center">
            <span class="text-muted">Você ainda tem <strong>{{daysLeft}} dias</strong> de uso grátis.</span><button type="button" class="btn btn-outline-secondary zoom">Assinar</button>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

