<div class="modal-position col-md-12" id="modalAccount" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content glass">
      <div class="modal-header">

        <h5 class="font-title"><img src="assets/img/icon.png" class="logo" alt="logo"> Inicie seus 30 dias
          grátis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="isSuccess" class="alert alert-success" role="alert">
          <h4 class="alert-heading">Estamos quase lá!</h4>
          <p>Obrigado por usar nossa ferramenta.</p>
          <hr>
          <p class="mb-0">Verifique sua caixa de emails e confirme seu cadastro para aproveitar nossos produtos.</p>
        </div>
        <div *ngIf="!isSuccess" class="col-md-12">
          <div class="row">
            <form [formGroup]="formRegister" (ngSubmit)="send()">
              <div class="form-group">
                <label for="name">Nome Completo*</label>
                <input type="text" placeholder="Nome e sobrenome" class="form-control" id="name" aria-describedby="name"
                  formControlName="name" name="name">
                <ng-container *ngIf="formRegister.controls.name.touched">
                  <span *ngIf="formRegister.controls.name.errors?.required">
                    Campo obrigatório
                  </span>
                  <span *ngIf="formRegister.controls.name.errors?.name">
                    Nome inválido
                  </span>
                </ng-container>
              </div>
              <div class="form-group">
                <label for="email">Email Corporativo*</label>
                <input type="email" placeholder="seunome@empresa.com" class="form-control" id="email"
                  aria-describedby="email" formControlName="email" name="email">
                <ng-container *ngIf="formRegister.controls.email.touched">
                  <span *ngIf="formRegister.controls.email.errors?.required">
                    Campo obrigatório
                  </span>
                  <span *ngIf="formRegister.controls.email.errors?.email">
                    E-mail inválido
                  </span>
                </ng-container>
              </div>

              <!--div class="form-group">
                <label for="password">Senha*</label>
                <input type="password" placeholder="******" class="form-control" id="password"
                  aria-describedby="password" formControlName="password" name="password">
                <ng-container *ngIf="formRegister.controls.password.touched">
                  <span *ngIf="formRegister.controls.password.errors?.required">
                    Campo obrigatório
                  </span>
                  <span *ngIf="formRegister.controls.password.errors?.password">
                    Senha inválida
                  </span>
                </ng-container>
              </div-->
              <div class="form-group">
                <label for="phone">Celular*</label>
                <input mask="(000) 00000-0000" placeholder="(000) 0000-0000" type="text" class="form-control" id="phone"
                  formControlName="phone" name="phone">
                <ng-container *ngIf="formRegister.controls.phone.touched">
                  <span *ngIf="formRegister.controls.phone.errors?.required">
                    Campo obrigatório
                  </span>
                </ng-container>
              </div>
              <div class="form-group">
                <span class="txt-terms">Ao criar uma conta, você concorda com nossos <a routerLink="/terms">termos</a> e
                  <a routerLink="/privacy">política de privacidade</a></span>
              </div>
              <span>Já tem uma <a data-toggle="modal" (click)="login()" class="text-yellow">conta?</a></span>
              <div class="modal-footer">
                <div class="col-md-12">
                  <div class="row">
                    <div class="alert col-md-6" [ngStyle]="{'color': messageType == 'success' ? 'green' : 'red'}"
                      role="alert">
                      {{text}} <br>{{subText}}
                    </div>
                    <div class="col-md-6">
                      <button type="submit" class="btn btn-primary" (click)="createAccount()"
                        [disabled]="!formRegister.valid || isRegistering">
                        <span *ngIf="isRegistering" class="spinner-border spinner-border-sm mr-1"></span>
                        Criar Conta</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="close()">Fechar</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
