<div class="col-md-12 mt-4 modal-position">
  <div clas="row">
    <ul>
      <li>
        <a>
          <div [formGroup]="editEntryForm">
            <input autofocus type="text" class="form-control bg" formControlName="project" style="margin-top: -5px;"
              name="project" value="{{task.project}}" />
            <input type="text" class="form-control bg" formControlName="task" name="task" value="{{task.task}}" />
          </div>
          <input type="text" class="form-control bg" placeholder="0:00" maxlength="4" #time name="time"
            autocomplete="false" [(ngModel)]="timeModel" (keyup)="checkTime(time.value)">
          <div [formGroup]="editEntryForm">
            <textarea type="text" class="form-control" formControlName="notes" name="notes"
              value="{{task.notes}}">{{task.notes}}</textarea>
          </div>
          <div class="d-grid gap-2 d-md-block footer mt-4">
            <button type="submit" (click)="editTask()" class="btn-custom-confirm"
              [disabled]="!editEntryForm.valid || isLoading || timeModel.length <= 3 ">
              <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
              Salvar</button>
            <button type="button" class="btn-custom-decline" (click)="close()"
              data-dismiss="modal">Fechar</button>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
