<div class="container-fluid" style="margin-bottom: 100px;">
  <div class="col-md-12 fixed-navbar">
    <div class="navbar-header">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2">
            <img id="pic-img" src="assets/img/icon.png" alt="logo">
          </div>
          <div class="col-md-10">
            <div id="top-title">
              <div id="header-titles">
                <h5 class="title-bar" id="tip-title">
                  Opportunity
                </h5>
                <em id="title-subheader">Aproveite seu tempo</em>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="end">
        <button mat-button class="btn-lg btn-custom-confirm" (click)="login()">Entrar</button>
      </div>
    </div>
  </div>
</div>
