@import url('https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.logo{
  max-width: 200px;
  margin-top: 10px;
}

.logo-linkedin{
  max-width: 50px;
  margin-top: 10px;
}

.position-fixed{
  position: fixed;
  z-index: 1;
}



@media only screen and (max-device-width: 1600px) {
a{
  font-size: 20px;
  font-family: 'Gilroy-Bold', sans-serif;
}
}

@media only screen and (min-device-width: 1600px) {
  a{
    font-size: 22px;
    font-family: 'Gilroy-Bold', sans-serif;
  }
  }

  .end-position{
    display: flex;
    justify-content: flex-end
  }



#tip-title{
  font-size:35px;
  margin-bottom:0%;
}
#pic-img{
  max-height:50px;
  margin-top: 15px;
}
#title-subheader{
  font-size:12px;
}
#top-title{
  text-transform:capitalize;
  line-height:normal;
  text-align:right;
}
#header-titles{
  width:65%;
  margin-left:1px;
  text-align: left;
  float: left;
}
#header-image{
  max-width:200px;
  text-align:right;
   float: left;
}

.end{

  position: absolute;
  right: 0;
  top: 5px
}

