<div class="container-fluid" style="margin-bottom: 100px;">
  <div class="col-md-12">
    <div class="navbar-header">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2">
            <img id="pic-img" src="assets/img/icon.png" alt="logo">
          </div>
          <div class="col-md-8">
            <div id="top-title">
              <div id="header-titles">
                <h5 class="title-bar" id="tip-title">
                  Opportunity
                </h5>
                <i id="title-subheader">Descomplique</i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="end">
        <button mat-raised-button class="btn btn-lg btn-outline-primary" (click)="login()">Entrar</button>
      </div>
    </div>
    <!--div class="end-position">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/img/linkedin.png" class="logo-linkedin" alt="logo">
      </a>
    </div-->
  </div>
</div>
