<a [ngClass]="size">
  <h2 style="margin-top: -5px;">#{{task.project}}</h2>
  <p>#{{task.task}}</p>
  <p>#{{task.time}}</p>
  <p *ngIf="showDate"><strong>#{{task.date}}</strong></p>
  <small>#{{task.notes != '' ? task.notes : 'Nenhuma nota'}}</small>
  <div *ngIf="!disableButtons" class="d-grid gap-2 d-md-block footer mt-4">
      <button type="button" class="btn btn-outline-primary zoom" (click)="edit()">Editar</button>
      <button type="button" class="btn btn-outline-danger zoom" (click)="delete()">Excluir</button>
    </div>
</a>
