<!--div class="card align-items-center" style="margin-bottom: 4px;">
  <div class="card-body">
    <h5 class="card-title">Projeto <span class="default-font">{{task.project}}</span></h5>
    <p class="card-text">Atividade <span class="default-font">{{task.task}}</span></p>
    <p class="card-text">Data <span class="default-font">{{task.date}}</span></p>
    <p class="card-text">Tempo gasto <span class="default-font">{{task.time}}</span></p>
    <div class="col-md-12">
      <div class="row text-center">
        <div class="col-md-6 mb-2">
          <button type="button" class="btn btn-primary zoom" (click)="edit()">Editar</button>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-danger zoom" (click)="delete()">Excluir</button>
        </div>
      </div>

    </div>
  </div-->

<a>
  <h2 style="margin-top: -5px;">#{{task.project}}</h2>
  <p>#{{task.task}}</p>
  <p>#{{task.time}}</p>
  <small>#{{task.notes != '' ? task.notes : 'Nenhuma nota'}}</small>
  <div class="d-grid gap-2 d-md-block footer mt-4">
      <button type="button" class="btn btn-outline-primary zoom" (click)="edit()">Editar</button>
      <button type="button" class="btn btn-outline-danger zoom" (click)="delete()">Excluir</button>
    </div>
</a>
