<div class="col-md-12">
  <div class="row">
    <div class="col-md-4">
      <button type="button" class="btn btn-sm btn-success zoom" (click)="newProject()">
        <fa-icon class="fa" [icon]="faPlus"></fa-icon> Novo Projeto
      </button>
    </div>
  </div>
  <table class="table" aria-describedby="projetos">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Horas Alocadas</th>
        <th scope="col">Mais</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>MCI</td>
        <td>3</td>
        <td><input type="button" class="btn btn-outline-primary btn-sm" value="Detalhes"></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>
