<div *ngIf="!isLoading" class="col-md-12 mt-4" tabindex="-1" role="dialog">
  <div class="row">
    <div class="col-md-6">
      <input type="button" (click)="selectPro()" [ngClass]="{'active' : plan?.plan =='Pro', '' : plan?.plan != 'Pro'}"
        class="btn-block btn-lg btn-custom-success" value="Pro">
    </div>
    <div class="col-md-6">
      <input type="button" (click)="selectCorp()"
        [ngClass]="{'active' : plan?.plan == 'Corp', '' : plan?.plan != 'Corp'}"
        class="btn-block btn-lg btn-custom-success" value="Corp">
    </div>
  </div>

  <div class="pl-lg-4">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group mt-4">
          <label for="platform">Selecione os produtos para incluir no seu plano</label>
          <div class="col-sm-12 col-md-12">
            <div class="row mt-2">
              <div class="col-md-4">
                <div class="card shadow products mb-2 {{plan.enableTime ? 'bg-light logo' : 'bg-grey'}}">
                  <img src="assets/img/plan/time.png" class="mt-2 center"
                    style="max-height: 120px; max-width: 120px;" alt="Timesheet logo">
                  <div class="card-body center">
                    <h5 class="card-title">Timesheet</h5>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div (click)="checkIsAdvance()"
                  class="card shadow products mb-2 {{plan.enableAdvance ? 'bg-light logo' : 'bg-grey'}}">
                  <img src="assets/img/plan/advance.png" class="mt-2 center"
                    style="max-height: 130px; max-width: 130px;" alt="Adiantamento logo">
                  <div class="card-body center col-md-12">
                    <h5 class="card-title">Adiantamento</h5>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div (click)="checkIsRefund()"
                  class="card shadow products mb-2 {{plan.enableRefund ? 'bg-light logo' : 'bg-grey'}}">
                  <img src="assets/img/plan/refund.png" class="mt-2 center"
                    style="max-height: 160px; max-width: 160px;" alt="Reembolso logo">
                  <div class="card-body center">
                    <h5 class="card-title">Reembolso</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--h5 class="text-muted">Selecione os produtos para incluir no seu plano</h5>
  <input type="button" [ngClass]="{'active' : isTime, '' : !isTime}" class="btn-block btn-lg btn-custom-success"
    value="Timesheet">
  <input type="button" (click)="checkIsAdvance()" [ngClass]="{'active' : isAdvance, '' : !isAdvance}"
    class="btn-block btn-lg btn-custom-success" value="Adiantamentos e Prestação de Contas">
  <input type="button" (click)="checkIsRefund()" [ngClass]="{'active' : isRefund, '' : !isRefund}"
    class="btn-block btn-lg btn-custom-success" value="Reembolsos"-->

  <div class="col-md-12 mb-2 mt-2">
    <div class="row_inline">
      <div class="col-md-3">
        <button data-toggle="tooltip" id='previous' name='previous' value='previous' (click)="decreaseUser()"
          class="btn btn-lg btn-outline-info shadow">
          <fa-icon class="fa-2x" [icon]="faMinus"></fa-icon>
        </button>
      </div>
      <div class="col-md-3">
        <input type="number" min="0" max="20" (change)="addUser($event)" (keyup)="addUser($event)"
          class="form-control default-font pricing-font mt-2 mb-2" value="{{activeUsers}}">
      </div>
      <div class="col-md-3">
        <button data-toggle="tooltip" id='next' name='next' value='next' (click)="increaseUser()"
          class="btn btn-lg btn-outline-info shadow">
          <fa-icon class="fa-2x" [icon]="faPlus"></fa-icon>
        </button>
      </div>
      <div class="col-md-3 mt-4">
        <button type="submit" class="btn-custom-confirm" (click)="onSubmit()"
          [disabled]="isLoading || !isTime && !isRefund && !isAdvance">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
          Continuar</button>
      </div>
    </div>
    <small>Usuários ativos: <strong>{{activeUsers}}</strong></small><br>
    <small>Valor mensal: <strong>{{currentPlanValue | currency: 'BRL'}}</strong></small>
  </div>
</div>
