<!--div *ngIf="!isLoading" class="col-md-10 mb-4" tabindex="-1" role="dialog">
  <div class="row">
    <div class="col-md-6">
      <input type="button" (click)="selectPro()" [ngClass]="{'bg-light' : plan?.plan =='Pro', 'bg-grey' : plan?.plan != 'Pro'}"
        class="btn-block btn-lg btn-custom-success" value="Pro">
    </div>
    <div class="col-md-6">
      <input type="button" (click)="selectCorp()"
        [ngClass]="{'bg-light' : plan?.plan == 'Corp', 'bg-grey' : plan?.plan != 'Corp'}"
        class="btn-block btn-lg btn-custom-success" value="Corp">
    </div>
  </div>

  <div class="pl-lg-4">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group mt-4">
          <label for="platform">Selecione os produtos para incluir no seu plano</label>
          <div class="col-sm-10 col-md-10">
            <div class="row mt-2">
              <div class="col-md-4">
                <div [ngClass]="{'bg-light' : plan?.enableTime, 'bg-grey' : !plan?.enableTime }" class="card-glass shadow products mb-2">
                  <img src="assets/img/plan/time.png" class="mt-2 center"
                    style="max-height: 50px; max-width: 50px;" alt="Timesheet logo">
                  <div class="card-body center">
                    <h5 class="card-title">Timesheet</h5>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div [ngClass]="{'bg-light' : plan?.enableAdvance, 'bg-grey' : !plan?.enableAdvance }" (click)="checkIsAdvance()"
                  class="card-glass shadow products mb-2">
                  <img src="assets/img/plan/advance.png" class="mt-2 center {{!plan.enableAdvance ? 'logo' : ''}}"
                    style="max-height: 50px; max-width: 50px;" alt="Adiantamento">
                  <div class="card-body center">
                    <h5 class="card-title">Adiantamento</h5>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div [ngClass]="{'bg-light' : plan?.enableRefund, 'bg-grey' : !plan?.enableRefund }" (click)="checkIsRefund()"
                  class="card-glass shadow products mb-2">
                  <img src="assets/img/plan/refund.png" class="mt-2 center {{!plan.enableRefund ? 'logo' : ''}}"
                    style="max-height: 50px; max-width: 50px;" alt="Reembolso logo">
                  <div class="card-body center">
                    <h5 class="card-title">Reembolso</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 mb-2 mt-2 center">
    <label for="platform">Usuários</label>

    <div class="row_inline">
      <div class="col-md-2">
        <button data-toggle="tooltip" id='previous' name='previous' value='previous' (click)="decreaseUser()"
          class="btn btn-lg btn-outline-info shadow">
          <fa-icon class="fa-2x" [icon]="faMinus"></fa-icon>
        </button>
      </div>
      <div class="col-md-3">
        <input type="number" min="0" max="20" (change)="addUser($event)" (keyup)="addUser($event)"
          class="default-font pricing-font mt-2 mb-2" value="{{activeUsers}}">
      </div>
      <div class="col-md-2">
        <button data-toggle="tooltip" id='next' name='next' value='next' (click)="increaseUser()"
          class="btn btn-lg btn-outline-info shadow">
          <fa-icon class="fa-2x" [icon]="faPlus"></fa-icon>
        </button>
      </div>
    </div>

  </div>

  <div class='total mt-2 mt-4'>
    <span style='float:left;'>
      <div class='thin dense'>Plano</div>
      <div class='thin dense'>Usuários</div>
      <div class='thin dense mb-2'>Valor por usuário</div>
      TOTAL MENSAL
    </span>
    <span style='float:right; text-align:right;'>
      <div class='thin dense'>{{plan.plan}}</div>
      <div class='thin dense'>{{activeUsers}}</div>
      <div class='thin dense mb-2'>{{currentPlanValue /activeUsers | currency: 'BRL'}}</div>
      {{currentPlanValue | currency: 'BRL'}}
    </span>
  </div>

  <div class="col-md-4 mt-4">
    <button type="submit" class="btn-custom-confirm btn-block" (click)="onSubmit()"
      [disabled]="isLoading || activeUsers == 0 || !isTime && !isRefund && !isAdvance">
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
      Continuar</button>
  </div>

</div-->

<div *ngIf="!isLoading && !isModalCard" class='window col-md-12 glass'>
  <div class='order-info'>
    <div class='order-info-content'>
      <!--div class="row mt-4">
        <div class="col-md-6">
          <input type="button" (click)="selectPro()"
            [ngClass]="{'bg-light' : plan?.plan =='Pro', 'bg-grey' : plan?.plan != 'Pro'}"
            class="btn-block btn-sm btn-custom-success" value="Plano Pro">
        </div>
        <div class="col-md-6">
          <input type="button" (click)="selectCorp()"
            [ngClass]="{'bg-light' : plan?.plan == 'Corp', 'bg-grey' : plan?.plan != 'Corp'}"
            class="btn-block btn-sm btn-custom-success" value="Plano Corp">
        </div>
      </div-->
      <div class="payment__types mt-4 mb-2">
        <table class="payment__type payment__type--paypal"
          [ngClass]="{'active' : plan?.plan =='Pro', '' : plan?.plan != 'Pro'}" (click)="selectPro()">
          <tbody>
            <tr>
              <td>
                <br> <span class='thin'>Plano Pro</span>
                <br> <span class='thin small'> Até 20 usuários<br><br></span>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="payment__type payment__type--paypal"
          [ngClass]="{'active' : plan?.plan =='Corp', '' : plan?.plan != 'Corp'}" (click)="selectCorp()">
          <tbody>
            <tr>
              <td>
                <br> <span class='thin'>Plano Corp</span>
                <br> <span class='thin small'> Usuários ilimitados<br><br></span>
              </td>
            </tr>
          </tbody>
        </table>
        <!--div class="payment__type payment__type--paypal">
          <i class="icon icon-wallet"></i>SEPA</div>
        <div class="payment__type payment__type--paypal">
          <i class="icon icon-note"></i>Invoice</div-->
      </div>
      <div class='payment__types mt-2'>
        <table class='payment__type payment__type--paypal table'
          [ngClass]="{'active' : plan?.enableTime, '' : !plan?.enableTime }">
          <tbody>
            <tr>
              <th><img alt="timesheet" alt="timesheet" src='assets/img/plan/time.png' class='full-width'>
              </th>
              <td>
                <h4 class='thin'>Timesheet</h4>
              </td>
              <td>
                <span class='thin small'>Tenha em mãos as atividades do seu time</span>
              </td>
              <td>
                <span class='thin small text-primary'><strong>Produto padrão</strong></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class='payment__types'>
        <table class='payment__type payment__type--paypal table'
          [ngClass]="{'active' : plan?.enableAdvance, '' : !plan?.enableAdvance }" (click)="checkIsAdvance()">
          <tbody>
            <tr>
              <th><img alt="adiantamento" src='assets/img/plan/advance.png' class='full-width'>
              </th>
              <td>
                <h4 class='thin'>Adiantamento</h4>
              </td>
              <td>
                <span class='thin small'>Chega de solicitar adiantamentos por email</span>
              </td>
              <td>
                <span class='thin small text-primary'><strong>Clique para {{!plan.enableAdvance? 'adicionar':
                    'remover'}}</strong></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class='payment__types'>
        <table class='payment__type payment__type--paypal table' s
          [ngClass]="{'active' : plan?.enableRefund, '' : !plan?.enableRefund }" (click)="checkIsRefund()">
          <tbody>
            <tr>
              <th><img alt="refund" src='assets/img/plan/refund.png' class='full-width'>
              </th>
              <td>
                <h4 class='thin'>Reembolso</h4>
              </td>
              <td>
                <span class='thin small'>Não fique preocupado se vai receber aquele valor gasto</span>
              </td>
              <td>
                <span class='thin small text-primary'><strong>Clique para {{!plan.enableRefund? 'adicionar':
                    'remover'}}</strong></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 margin-top">
        <div class="row">
          <div class="col-md-7">
            <div class="col-md-4">
              <button data-toggle="tooltip" id='previous' name='previous' value='previous' (click)="decreaseUser()"
                class="btn btn-lg btn-outline-info shadow">
                <fa-icon class="fa-2x" [icon]="faMinus"></fa-icon>
              </button>
            </div>
            <div class="col-md-4">
              <input type="number" min="0" max="20" (change)="addUser($event)" (keyup)="addUser($event)"
                class="default-font pricing-font mt-2 mb-2" value="{{activeUsers}}">
            </div>
            <div class="col-md-4">
              <button data-toggle="tooltip" id='next' name='next' value='next' (click)="increaseUser()"
                class="btn btn-lg btn-outline-info shadow">
                <fa-icon class="fa-2x" [icon]="faPlus"></fa-icon>
              </button>
            </div>
          </div>
          <div class="col-md-5">
            <div class='total'>
              <span style='float:left;'>
                <div class='thin dense'>Plano</div>
                <div class='thin dense'>Usuários</div>
                <div class='thin dense mb-2'>Valor por usuário</div>
                TOTAL MENSAL
              </span>
              <span style='float:right; text-align:right;'>
                <div class='thin dense'>{{plan.plan}}</div>
                <div class='thin dense'>{{activeUsers}}</div>
                <div class='thin dense mb-2'>{{currentPlanValue /activeUsers | currency: 'BRL'}}</div>
                {{currentPlanValue | currency: 'BRL'}}
              </span>
            </div>
          </div>

          <div class="col-md-12 mt-2">

            <button type="submit" class="btn-custom-confirm btn-block" (click)="onSubmit()"
              [disabled]="isLoading || activeUsers == 0 || !isTime && !isRefund && !isAdvance">
              <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
              Continuar</button>
          </div>
        </div>

      </div>

    </div>
  </div>
