.modal-position {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000 !important;
}

.drop {
  display: block !important;
}

.custom-drop {
  font-size: 20px;
  margin-bottom: 20px;
}

.time-font {
  font-size: 43px;
  text-align: center;
  height: 110%;
}

.modal-header-font {
  font-size: 20px;
}

.active {
  background-color: #d2f8d2;
  color: black;
}


.pricing-font {
  font-size: 40px;
  text-align: center;
  height: 65px;
  width: 100px;
  align-self: center;
    display: block;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.form-control {
  align-self: center;
  display: block;
  width: 65px;
  height: 65px;
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;

}
.center {
  margin-left: 50px;
    margin-bottom: 10px;
    width: 50%;
    padding: 1px;
}


.footer {
  position: absolute;
  bottom: 0;
}

.zoom {
  transition: transform .2s;
  /* Animation */
}

.zoom:hover {
  transform: scale(1.2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.row_inline {
  display: flex;
  /* flex-wrap: wrap; */
  margin-right: -15px;
  margin-left: -15px;
}

.products:hover {
  position: relative;
  transform: translateY(-5%);
  transition: all 0.7s ease 0s;
  box-shadow: 41px 41px 82px #bcbfc1,
    -41px -41px 82px #ffffff;
}

.bg-grey {
  color: #90949c !important;
  background: #525252;
}

.logo{

  filter: opacity(0.5) drop-shadow(0 0 0 white);

}

.card-glass {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.plan{

  font-family: 'Questrial', sans-serif;
  font-size: 1.2rem;
}

.total {
  margin-top:25px;
  font-size:20px;
  font-size:1.3rem;
  //position:absolute;
  bottom:30px;
  right:27px;
  left:35px;
}

.card-title{
  color: black;
}
