<div class="modal-position col-md-12" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="div-center" *ngIf="isLoading">
      <app-spinner-loader></app-spinner-loader>
    </div>
    <div *ngIf="!isLoading" class="modal-content">
      <div class="modal-header" style="align-self: center;">
        <h3 class="modal-title default-font modal-header-font">Plano Atual Pro</h3>
      </div>
      <div class="modal-body default-font">
        <!--Body-->
        <div class="modal-body mb-0 text-muted">
          <h5 class="text-muted">Selecione os produtos para incluir no seu plano</h5>
          <input type="button" (click)="checkIsTime()" [ngClass]="{'active' : isTime, '' : !isTime}"
            class="btn-block btn-lg btn-custom-success" value="Timesheet">
          <input type="button" (click)="checkIsAdvance()"
            [ngClass]="{'active' : isAdvance, '' : !isAdvance}" class="btn-block btn-lg btn-custom-success"
            value="Adiantamentos e Prestação de Contas">
          <input type="button" (click)="checkIsRefund()" [ngClass]="{'active' : isRefund, '' : !isRefund}"
            class="btn-block btn-lg btn-custom-success" value="Reembolsos">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn-custom-confirm" (click)="onSubmit()" [disabled]="isLoading || !isTime && !isRefund && !isAdvance">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
          Salvar</button>
        <button type="button" class="btn-custom-decline" data-dismiss="modal" (click)="close()">Fechar</button>
      </div>
    </div>
  </div>
</div>
