<div *ngIf="!isLoading" class="col-md-12 table-responsive">
  <div class="row mb-4">
    <div class="col-md-4">
      <button type="button" class="btn btn-sm btn-success zoom" (click)="newMember()">
        <fa-icon class="fa" [icon]="faPlus"></fa-icon> Novo Membro
      </button>
    </div>
  </div>
  <table datatable [dtOptions]="dtOptions" class="table text-muted table-striped" id="members" aria-describedby="membros">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>
        <th scope="col">Mais</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of members; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{member.name}}</td>
        <td>{{member.email}}</td>
        <td>{{member.isActive}}</td>
        <td><input type="button" class="btn btn-outline-primary btn-sm" value="Detalhes"></td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="isLoading" class="col-md-12 mt-4">
  <app-spinner-loader></app-spinner-loader>
</div>
