<div *ngIf="!isLoading && !isLoadingPlan && user.admin" class="col-md-12 table-responsive">
  <div class="row mb-4">
    <div class="col-md-4">
      <button title="{{tooltipMessage}}" #tooltip="matTooltip" matTooltip="Info about the action" [matTooltipPosition]="position.value"
        matTooltipHideDelay="100000"
        aria-label="Button that displays a tooltip that hides when scrolled out of the container"
        [disabled]="user.trial && members.length == 10 || plan.plan == 'Pro' && members.length == 20" type="button"
        class="btn-sm btn-custom-confirm zoom" (click)="newMember()">
        <fa-icon class="fa" [icon]="faPlus"></fa-icon> Novo Membro
      </button>
    </div>
  </div>
  <table datatable [dtOptions]="dtOptions" class="table text-muted table-striped" id="members"
    aria-describedby="membros">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of members; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{member.name}}</td>
        <td>{{member.email}}</td>
        <td *ngIf="member.active ; else inactive">
          <fa-icon style="color: green;" class="fa" [icon]="faActive"></fa-icon>
        </td>
        <ng-template #inactive>
          <td>
            <fa-icon class="fa" style="color: red;" [icon]="faInactive"></fa-icon>
          </td>
        </ng-template>
        <td><input *ngIf="member.active" [disabled]="member.idUser == user.idUser" type="button" (click)="disableMember(member.idUser)" class="btn-sm btn-custom-reject" value="Desativar">
          <input *ngIf="!member.active" [disabled]="member.idUser == user.idUser" type="button" (click)="enableMember(member.idUser)" class="btn-sm btn-custom-confirm" value="Ativar"></td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="isLoading" class="col-md-12 mt-4">
  <app-spinner-loader></app-spinner-loader>
</div>
