<div class="modal-position col-md-12" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-muted">
      <div class="modal-header">
        <h5 class="modal-title default-font modal-header-font text-muted">Nova Atividade/Tarefa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--Body-->
        <div class="modal-body mb-0" [formGroup]="newTaskForm">
          <div class="col-md-12 order-md-1">
            <label>Nome da Atividade/Tarefa</label>
            <input type="text" placeholder="Ex.: Ação de Marketing" class="form-control" name="name" formControlName="name">
          </div>
          <div class="col-md-3 order-md-1 mt-2">
            <label>Ativar/Desativar Tarefa</label>
            <label class="switch">
              <input type="checkbox" checked (click)="changeStatus()">
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="submit()" [disabled]="!newTaskForm.valid || isLoading">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
          Salvar</button>
        <button type="button" class="btn btn-secondary" (click)="close()" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
