<form name="changeEntryDateForm" id="changeEntryDateForm" action="/TimeSheet" method="POST">
  <div class="col-md-10 mb-1">
    <div class="row center navbar-adjust">
      <div class="col-md-3 mb-3">
        <div class="text-center">

          <button type='button' data-toggle="modal" (click)="newEntry()"
            class='btn btn-lg btn-outline-primary shadow zoom'>
            <img src='assets/img/time/new_entry.png' alt="new entry" style='width: 50px'>
            <small class="d-block default-font"> Nova Atividade</small>
          </button>

        </div>
      </div>
      <div class="col-md-1 mb-4">
        <button data-toggle="tooltip" title='Dia anterior' id='previous' name='previous' value='previous'
          (click)="previousDay()" class="btn btn-lg btn-outline-info shadow zoom">
          <fa-icon class="fa-2x" [icon]="faArrowLeft"></fa-icon>
        </button>
      </div>
      <div class="col-md-4">
        <div class="margin-calendar">
          <h4 class="text-muted h4-responsive default-font">{{currentDayFormatted}} <strong
              *ngIf="isToday">(Hoje)</strong></h4>
        </div>
        <div class="center">
          <a data-toggle="modal" data-target="#calendarModal" class="margin-calendar-icon">
            <img src="assets/img/time/calendar.png" (click)="openCalendar()" alt="calendar" height="60px" width="60px"
              class="zoom">
          </a>

          <div *ngIf="isModalCalendar" class="modal-open">
            <div id="calendarModal" class="modal-position">
              <ngb-datepicker id="calendar" #dp [(ngModel)]="model" (click)="changeDay()" name="date"
                (navigate)="date = $event.next">
              </ngb-datepicker>
              <div class="col-md-12" style="margin-top: 40px;">
                <button class="btn btn-primary me-2 zoom" (click)="selectToday()">Ir para hoje</button>
              </div>
            </div>

          </div>

        </div>


        <!--button class="btn btn-sm btn-outline-primary me-2" (click)="dp.navigateTo()">Ir para o mês atual</button-->

        <!--pre>Mês: {{ date.month }}/{{ date.year }}</pre>
            <pre>Model: {{ model | json }}</pre-->
      </div>
      <div class="col-md-1">
        <button data-toggle="tooltip" title='Dia posterior' id='next' name='next' value='next' (click)="nextDay()"
          class="btn btn-lg btn-outline-info shadow zoom">
          <fa-icon class="fa-2x" [icon]="faArrowRight"></fa-icon>
        </button>
      </div>
      <div class="col-md-1 mb-2 mt-4">
        <span style="font-size: large;" class="badge badge-light mb-1 text-muted bg-light">
          <div class="row">
            <div class="col-md-12 mb-2">
              <fa-icon class="fa-1x" [icon]="faClock"></fa-icon> Total: <span>{{totalFormatted}}</span>
            </div>
          </div>
        </span>
      </div>
    </div>
  </div>
</form>

<div *ngIf="isLoading" class="col-md-12 mt-4">
  <div class="center">
    <div class="spinner-border" style="width: 8rem; height: 8rem;" role="status">
      <span class="sr-only">Carregando...</span>
    </div>
  </div>
</div>

<div *ngIf="!isLoading && tasks.length == 0 && !isModalCalendar" class="col-md-12 mt-4">
  <ul>
    <li>
      <a contenteditable>
        <h2>Você não tem atividades nesta data</h2>
        <br>
        <h4>Pegue um café e relaxe <fa-icon class="fa-1x" [icon]="faCoffee"></fa-icon>
        </h4>
      </a>
    </li>
  </ul>
</div>

<div class="col-md-12 mt-4">
  <div clas="row">
    <ul>
      <li *ngFor="let task of tasks">
        <app-tasks [user]="user" [task]="task"></app-tasks>
      </li>
    </ul>

  </div>
</div>

