<div class="modal-position col-md-12" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="align-self: center;">
        <h3 class="modal-title default-font modal-header-font text-muted">Minhas Atividades</h3>
        <button type="button" class="close end" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
        <hr class="hr-dark">
      </div>
      <div class="modal-body default-font">
        <full-calendar [options]="calendarOptions"></full-calendar>
      </div>
    </div>
  </div>
</div>
