.modal-position {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000!important;
}
.drop {
  display: block !important;
}

.custom-drop{
  font-size: 20px;
  margin-bottom: 20px;

}

.ng-select .ng-select-container:hover{
  background-color: yellow;
}
