<div class="modal-position col-md-12" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="div-center" *ngIf="isLoading || isLoadingProject || isLoadingTask">
      <app-spinner-loader></app-spinner-loader>
    </div>
    <div *ngIf="!isLoading && !isLoadingProject && !isLoadingTask" class="modal-content">
      <div class="modal-header" style="align-self: center;">
        <h3 class="modal-title default-font modal-header-font">
          <fa-icon class="fa-1x" [icon]="faPencil"></fa-icon>
          Novo registro em {{currentDay.currentDayFormatted}}
        </h3>
      </div>
      <div class="modal-body default-font">
        <!--Body-->
        <div class="modal-body mb-0 text-muted">
          <div class="col-md-12 order-md-1" [formGroup]="newEntryForm">
            <label>Projeto</label>
            <ng-select [(ngModel)]="project" placeholder="Selecione o projeto" formControlName="project"
              [items]="projects" [multiple]="false" [closeOnSelect]="true" [hideSelected]="true"
              (change)="onChangeProject($event)" bindLabel="name" [selectOnTab]="true"
              notFoundText="{{notFoundProject}}" name="project">
            </ng-select>
          </div>
          <div class="col-md-12 order-md-1 mt-2" [formGroup]="newEntryForm" (ngSubmit)="onSubmit()">
            <label>Atividade</label>
            <ng-select [(ngModel)]="task" placeholder="Selecione a atividade" formControlName="task" [items]="tasks"
              [multiple]="false" [closeOnSelect]="true" [hideSelected]="true" (change)="onChangeTask($event)"
              bindLabel="name" [selectOnTab]="true" notFoundText="{{notFoundTask}}" name="task">
            </ng-select>
          </div>
          <div class="col-md-8 order-md-1 mt-4" [formGroup]="newEntryForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-12 order-md-1 mb-2">
                <textarea formControlName="notes" maxlength="50" type="text"
                  class="form-control default-font custom-drop" #notes name="notes" autocomplete="false"
                  placeholder="Notas (Opcional)"></textarea>
              </div>
            </div>
          </div>
          <div class="col-md-4 order-md-1 mt-4">
            <div class="row">
              <div class="col-md-12 order-md-1 mb-2">
                <input placeholder="0:00" type="text" class="form-control default-font time-font" maxlength="4" #time
                  name="time" autocomplete="false" [(ngModel)]="timeModel" (keyup)="checkTime(time.value)">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn-custom-confirm" (click)="onSubmit()"
          [disabled]="!newEntryForm.valid || isLoading || timeModel.length <= 3 ">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
          Salvar</button>
        <button type="button" class="btn-custom-decline" data-dismiss="modal" (click)="close()">Fechar</button>
      </div>
    </div>
  </div>
</div>
