
.left {
  margin: auto;
  padding: 10px;
}

.font-title{
  color: #525658;
  font-size: 20px;
  font-family: 'Gilroy-Bold', sans-serif;
}

.logo-time{
  max-width: 1000px;
  margin-top: 20px;
}

.logo-adiant{
  max-width: 500px;
  margin-top: 20px;
}
