<div class="container">
  <p class="font">Gerencie o tempo, adiantamentos, reembolsos e seus dashboards de forma simples.</p>
</div>

<div class="col-md-12" style="margin-top: 25px;">
  <div class="container">
    <!--TIME-->
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <h1 class="default-font">Tempo</h1>
          <h3 class="margin-bottom-small font-title">Imagine gerenciar o tempo da sua equipe e cruzar o custo da mão de
            obra com o lucro por projeto</h3>
        </div>
        <div class="col-md-7">
          <img src="assets/img/time/time.png" class="img-responsive" width="800" height="800" alt="logo">
        </div>
        <div class="col-md-2" style="margin-top: 50px;">
          <button mat-raised-button class="btn btn-lg btn-success" (click)="getOpportunity()">Experimentar
            Grátis</button>
        </div>
      </div>
      <hr class="hr-dark">
    </div>
    <!--ADIANTAMENTO-->
    <div class="col-md-12" style="margin-top: 25px;">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/img/adiant.png" class="img-responsive" width="600" height="500" alt="logo">
        </div>
        <div class="col-md-6" style="margin-top: 120px;">
          <h1 class="default-font">Adiantamentos</h1>
          <h3 class="margin-bottom-small font-title">Mantenha os adiantamentos da sua equipe sob controle e tenha
            certeza que a prestação de contas será feita. Você poderá definir por usuário quantos adiantamentos podem
            ser solicitados enquanto houver prestação de contas pendentes.</h3>
        </div>
      </div>
      <hr class="hr-dark">
    </div>
    <!--REEMBOLSO-->
    <div class="col-md-12" style="margin-top: 25px;">
      <div class="row">
        <div class="col-md-6" style="margin-top: 100px;">
          <h1 class="default-font">Reembolsos</h1>
          <h3 class="margin-bottom-small font-title">Pare de controlar os reembolsos do seu time por e-mail. Basta tirar
            uma foto do comprovante e vincular ao projeto e pronto. </h3>
        </div>
        <div class="col-md-6" style="margin-top: 25px;">
          <img src="assets/img/reemb.png" class="img-responsive" width="600" height="300" alt="logo">
        </div>
      </div>
      <hr class="hr-dark">
    </div>

    <!--DASHBOARDS-->
    <div class="col-md-12" style="margin-top: 25px;">
      <div class="row">
        <div class="col-md-6" style="margin-top: 25px;">
          <img src="assets/img/dash.png" class="img-responsive" width="700" height="500" alt="logo">
        </div>
        <div class="col-md-4" style="margin-top: 80px;">
          <h1 class="default-font">Dashboards</h1>
          <h3 class="margin-bottom-small font-title">Tenha em mãos informações como quais projetos são mais lucrativos.
          </h3>
        </div>
      </div>
    </div>

    <!--INTEGRAÇÕES-->
    <div class="col-md-12" style="margin-top: 25px;">
      <div class="row">
        <div class="col-md-5" style="margin-top: 80px;">
          <h1 class="default-font">Integração</h1>
          <h3 class="margin-bottom-small font-title">Integre com sua base e tenha um melhor gerenciamento de seus
            projetos.
          </h3>
        </div>
        <div class="col-md-4" style="margin-top: 25px;">
          <img src="assets/img/rest.png" class="img-responsive" width="400" height="300" alt="logo">
        </div>
        <div class="col-md-3" style="margin-top: 120px;">
          <button mat-raised-button class="btn btn-lg btn-success" (click)="getOpportunity()">Experimentar
            Grátis</button>
        </div>
      </div>
    </div>
