<div *ngIf="card; else noCard" class="col-md-12 mt-4">
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="!isLoading && !isLoadingCard && !isLoadingPlan" class="row">
        <div class="col-md-5">
          <div class="card card--front">
            <div class="card__number">{{card.first_six_digits}} ** ** {{card.last_four_digits}}</div>
            <div class="card__expiry-date">{{card.expiration_month}}/{{card.expiration_year}}</div>
            <div class="card__owner">{{card.name}}</div>
            <img class="card__logo" src="assets/img/plan/{{brand == 'visa'? 'visa': 'master'}}.png" alt="visa" />
          </div>
        </div>
        <div class="col-md-7 mt-4">
          <h4 class="title-home">Plano <strong>{{plan?.plan}}</strong></h4>
          <h4>Você tem <strong>{{activeUsers}}</strong> usuários ativos</h4>
          <h4>Valor atual do plano está em <strong>{{currentPlanValue | currency : 'BRL'}} mensais</strong></h4>
        </div>
      </div>
    </div>
    <div *ngIf="!isLoading && !isLoadingCard && !isLoadingPlan" class="col-md-12 mt-4">
      <div class="col-md-4 mt-4">
        <input type="button" (click)="changePlan()" class="btn-custom-confirm" value="Alterar Plano" />
      </div>
      <div class="col-md-4 mt-4">
        <input type="button" (click)="confirmDelete()" class="btn-custom-decline" value="Remover Cartão" />
      </div>
      <div class="col-md-4 mt-4">
        <input type="button" (click)="confirmCancelSubscribe()" class="btn-custom-reject" value="Cancelar Assinatura" />
      </div>
    </div>
  </div>
</div>

<div *ngIf="isLoading || isLoadingCard || isLoadingPlan">
  <app-spinner-loader></app-spinner-loader>
</div>

<ng-template #noCard>
  <app-change-plan></app-change-plan>

</ng-template>
