<div class="modal-position col-md-12" tabindex="-1" role="dialog">
  <div *ngIf="!user" class="modal-dialog" role="document">
    <div *ngIf="isLoading || isLogging">
      <app-spinner-loader></app-spinner-loader>
    </div>
    <div *ngIf="!isLoading && !isLogging" class="modal-content text-muted">
      <div class="modal-header">
        <h5 class="default-font modal-header-font default-font">Olá <strong>{{firstName}}</strong>, crie uma nova senha
          para continuar seu acesso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" [formGroup]="newPassForm">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <label class="text-muted">Email</label>
              <input type="text" class="form-control" readonly value="{{user?.email}}" name="email" formControlName="email">
            </div>
            <div class="col-md-12 mt-4">
              <label class="text-muted">Senha</label>
              <input type="password" class="form-control" name="password" formControlName="password">
            </div>
            <div class="col-md-12 mt-4">
              <label class="text-muted">Confirmar Senha</label>
              <input type="password" class="form-control" name="password" formControlName="confirmPassword">
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn-custom-confirm" (click)="onSubmit()"
          [disabled]="!newPassForm.valid || isLoading || isLogging || newPassForm.value.password != newPassForm.value.confirmPassword || newPassForm.value.password.length < 5">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
          Continuar</button>
        <button type="button" class="btn-custom-decline" data-dismiss="modal" (click)="close()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
