.modal-position {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000!important;
}
.drop {
  display: block !important;
}

.custom-font{
  font-size: 15px;
  margin-bottom: 15px;

}

.ng-select .ng-select-container:hover{
  background-color: yellow;
}

.modal-header-font{
  font-size: 25px;
}

.negative-margin{
  margin-top: -10px;
}
