<div class="modal-position col-md-12" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title default-font modal-header-font">Novo adiantamento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-md-12 mt-2">
        <small class="text-muted">Lembrando que após o prazo determinado você deverá prestar contas desse
          adiantamento</small>
      </div>
      <div *ngIf="isLoading">
        <app-spinner-loader></app-spinner-loader>
      </div>
      <div *ngIf="!isLoading" class="modal-body">
        <!--Body-->
        <div class="modal-body mb-0 custom-font text-muted" [formGroup]="newAdvanceForm">
          <div class="col-md-7 order-md-1">
            <label>Projeto</label>
            <ng-select [(ngModel)]="project" placeholder="selecione o projeto" formControlName="project" class="custom-font" [items]="projects" [multiple]="false"
              [closeOnSelect]="true" [hideSelected]="true" (change)="onChangeProject($event)" bindLabel="name" name="project">
            </ng-select>
          </div>
          <div class="col-md-5 negative-margin">
            <div class="radio">
              <label><input type="radio" (change)="changeCurrency($event)" name="currency" value="Real" checked>Real</label>
            </div>
            <div class="radio">
              <label><input type="radio" (change)="changeCurrency($event)" name="currency" value="Dólar">Dólar <strong>{{dolarPrice | currency : 'BRL'}}</strong></label>
            </div>
            <div class="radio">
              <label><input type="radio" (change)="changeCurrency($event)" name="currency" value="Euro">Euro <strong>{{euroPrice | currency : 'BRL'}}</strong></label>
            </div>
          </div>
          <div class="col-md-7">
            <label>Finalidade</label>
            <ng-select placeholder="selecione o(s) motivo(s) do adiantamento"  formControlName="reason" class="custom-font" [items]="reasons" [multiple]="true"
              [closeOnSelect]="true" formControlName="reason" [hideSelected]="true" bindLabel="name" name="reason">
            </ng-select>
          </div>
          <div class="col-md-2">
            <label>Valor</label>
            <input type="text" currencyMask value="0,00" [options]="{ prefix: '', thousands: '.', decimal: ',' }"
              class="form-control custom-font" name="value" formControlName="value">
          </div>

          <div class="col-md-3">
            <label>Vencimento</label>
            <input type="date" class="form-control custom-font" name="deadline" formControlName="deadline">
          </div>

          <div class="col-md-12">
            <label>Forma de recebimento</label>
            <div class="row">
              <div class="col-md-2">
                <div class="radio">
                  <label><input type="radio" (change)="changeReceive($event)" name="receiveType" value="Pix" checked>Pix</label>
                </div>
              </div>
              <div class="col-md-2">
                <div class="radio">
                  <label><input type="radio" (change)="changeReceive($event)" name="receiveType" value="Dinheiro">Dinheiro</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="radio">
                  <label><input type="radio" (change)="changeReceive($event)" name="receiveType" value="Cartão de Crédito">Cartão de Crédito</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="radio">
                  <label><input type="radio" (change)="changeReceive($event)" name="receiveType" value="Cartão pré-pago">Cartão pré-pago</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn-custom-confirm" [disabled]="!newAdvanceForm.valid || isLoading" (click)="submit()">Salvar</button>
        <button type="button" class="btn-custom-decline" (click)="close()" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
