

.active {
  background-color: #d2f8d2;
  color: black;
}

.pricing-font {
  font-size: 40px;
  text-align: center;
  height: 65px;
  width: 65px;

}

.form-control {
  align-self: center;
  display: block;
  width: 65px;
  height: 65px;
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;

}


.footer {
  position: absolute;
  bottom: 0;
}

.zoom {
  transition: transform .2s;
  /* Animation */
}

.zoom:hover {
  transform: scale(1.2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.row_inline {
  display: flex;
  /* flex-wrap: wrap; */
  margin-right: -15px;
  margin-left: -15px;
}

.glass{
  backdrop-filter: blur(0px) saturate(200%);
  -webkit-backdrop-filter: blur(0px) saturate(200%);
  background-color: rgba(246, 246, 246, 0.95);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
