.nav-green {
  height: 25px;
  width: 25px;
  background-color: #357a38;
  border-radius: 50%;
  display: inline-block;
  margin-right: 2px;
}

.nav-blue {
  height: 25px;
  width: 25px;
  background-color: #20B2AA;
  border-radius: 50%;
  display: inline-block;
  margin-right: 2px;

}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 2px;
}
