<div class="col-md-12">
  <h1>Configurações da conta</h1>
  <hr>

  <div *ngIf="isLoading">
    <app-spinner-loader></app-spinner-loader>
  </div>

  <div *ngIf="!isLoading" class="row">
    <div *ngIf="user.admin" class="col-md-12">
      <h2>Adiantamentos</h2>
      <table class="table" aria-describedby="adiantamentos">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Solicitar aprovação para adiantamentos</td>
            <td><a href="javascript:void(0)" (click)="changeRequestApprovalAdvance()">{{settings.advanceRequestApproval
                ? 'Sim' : 'Não'}}</a></td>
          </tr>
          <tr>
            <td>Email(s) para enviar notificações de novo adiantamento</td>
            <td>{{settings.emailsAdvanceNotify}}</td>
          </tr>
          <tr>
            <td>Dias para enviar alerta de prestação de contas</td>
            <td>{{settings.advanceAlertDays}}</td>
          </tr>
          <tr>
            <td>Máximo de adiantamentos abertos que o usuário solicita por vez</td>
            <td>{{settings.maxOpenAdvance}}</td>
          </tr>
        </tbody>
      </table>

    </div>

    <div *ngIf="user.admin" class="col-md-12">
      <h2>Reembolsos</h2>
      <table class="table" aria-describedby="reembolso">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Solicitar aprovação para reembolsos</td>
            <td><a href="javascript:void(0)" (click)="changeRequestApprovalRefund()">{{settings.refundRequestApproval ?
                'Sim' : 'Não'}}</a></td>
          </tr>
          <tr>
            <td>Email(s) para enviar notificações de novo reebolso</td>
            <td>{{settings.emailsRefundNotify}}</td>
          </tr>
          <tr>
            <td>Máximo de reembolsos abertos que o usuário solicita por vez</td>
            <td>{{settings.maxOpenRefund}}</td>
          </tr>
        </tbody>
      </table>

    </div>

    <div *ngIf="user.admin" class="col-md-12">
      <h2>Tempo</h2>
      <table class="table" aria-describedby="tempo">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Solicitar aprovação semanal</td>
            <td><a href="javascript:void(0)" (click)="changeWeekApprovalTime()">{{settings.timeRequestApproval ? 'Sim' :
                'Não'}}</a></td>
          </tr>
          <tr>
            <td>Dias para enviar alerta de preenchimento do tempo</td>
            <td>{{settings.timeAlertDays}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-12">
      <h2>Geral</h2>
      <table class="table" aria-describedby="tempo">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Cor do sistema</td>
            <td><span (click)="changeColor('nav-green')" class="nav-green"></span>
              <span (click)="changeColor('nav-blue')" class="nav-blue"></span>
              <span (click)="changeColor('nav-red')" class="nav-red"></span>
              <span (click)="changeColor('nav-gray')" class="nav-gray"></span>
              <span (click)="changeColor('nav-black')" class="nav-black"></span>
              <span (click)="changeColor('nav-pink')" class="nav-pink"></span>
              <span (click)="changeColor('nav-purple')" class="nav-purple"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr>

  <div *ngIf="isChangeSettings" class="col-md-4">
    <div class="row">
      <button type="submit" (click)="submit()" class="btn-lg btn-block btn-custom-confirm" [disabled]="isLoading">
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
        Salvar</button>
    </div>
  </div>

</div>

