@mixin nav-base{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 2px;
}

.nav-green {
  @include nav-base();
  background-color: #357a38;
}

.nav-blue {
  @include nav-base();
  background-color: #20B2AA;
}

.nav-red {
  @include nav-base();
  background-color: #B22222;
}

.nav-gray {
  @include nav-base();
  background-color: #2F4F4F;
}

.nav-black {
  @include nav-base();
  background-color: #000000;
}

.nav-pink {
  @include nav-base();
  background-color: #FF00FF;
}

.nav-purple {
  @include nav-base();
  background-color: #9370DB;
}
