<div class="modal-position col-md-12" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-muted">
      <div class="modal-header">
        <h5 class="modal-title default-font modal-header-font text-muted">Novo Projeto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--Body-->
        <div class="modal-body mb-0" [formGroup]="newProjectForm">
          <div class="col-md-8 order-md-1">
            <label>Nome do Projeto</label>
            <input type="text" placeholder="Ex.: Ação de Marketing" class="form-control" name="name" maxlength="10" formControlName="name">
          </div>
          <div class="col-md-4 order-md-1">
            <label>Código</label>
            <input type="text" placeholder="Ex.: 12345" class="form-control" name="code" maxlength="5" formControlName="code">
          </div>
          <div class="col-md-4 order-md-1 mt-2">
            <label>Orçamento</label>
            <input type="text" currencyMask value="0,00" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" class="form-control" name="budget" formControlName="budget">
          </div>
          <div class="col-md-5 order-md-1 mt-2">
            <label>Fim do projeto</label>
            <input type="date" class="form-control" name="endDate" formControlName="endDate">
          </div>
          <div class="col-md-3 order-md-1 mt-2">
            <label>Ativar/Desativar</label>
            <label class="switch">
              <input type="checkbox" checked (click)="changeStatus()">
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn-custom-confirm" (click)="submit()" [disabled]="!newProjectForm.valid || isLoading">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
          Salvar</button>
        <button type="button" class="btn-custom-decline" (click)="close()" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
