<div class="modal-position col-md-12" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body default-font">
        <div class="card-header">
          <strong>Cartão de crédito</strong><br>
          <small>insira os dados do cartão</small>
        </div>
        <div class="col-md-12">
          <form id="form-checkout" [formGroup]="newCardForm" name="pay" (submit)="submit()">
            <div class="row">
              <div class="col-md-12 order-md-1">
                <h4 class="mb-3 text-muted">Seu cartão de crédito</h4>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="cc-name">Nome</label>
                    <input formControlName="checkout__cardholderName" class='form-control' type="text" id="form-checkout__cardholderName" />
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="cc-number">Número do cartão</label>
                    <input formControlName="checkout__cardNumber" class='form-control' type="text" id="form-checkout__cardNumber" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <label for="cc-expiration">Vencimento</label>
                    <input formControlName="checkout__expirationDate" mask="00/0000" max="7" class='form-control' type="text"
                      id="form-checkout__expirationDate" />
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="cc-cvv">CVV</label>
                    <input formControlName="checkout__securityCode" mask="000" max="3" class='form-control' type="text"
                      id="form-checkout__securityCode" />

                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="cc-cvv">Emissor</label>
                    <select formControlName="checkout__issuer" class='form-control' id="form-checkout__issuer" >
                    </select>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="cc-ident">Identificação</label>
                    <select formControlName="checkout__identificationType" class='form-control'
                      id="form-checkout__identificationType"></select>

                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="cc-ident-num">Número</label>
                    <input formControlName="checkout__identificationNumber" class='form-control' type="text"
                      id="form-checkout__identificationNumber" />
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="cc-cvv">Parcelas</label>
                    <select formControlName="checkout__installments" class='form-control' name="installments" id="form-checkout__installments"></select>
                  </div>
                </div>
                <hr class="mb-4">
                <input formControlName="checkout__cardholderEmail" type="hidden" id='form-checkout__cardholderEmail' value='{{emailTest}}' />
                <button [disabled]="isLoading || !newCardForm.valid" id="form-checkout__submit"
                  class="btn btn-primary btn-lg btn-block mb-4" type="submit">
                  <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
                  Pagar {{amount | currency: 'BRL'}}</button>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{'width': progress+'%'}" aria-valuenow="{progress}" aria-valuemin="0" aria-valuemax="100">Carregando...</div>
                </div>

              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
