.modal-position {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.font-title {
  font-size: 25px;
  font-family: 'Gilroy-Bold', sans-serif;
}

.logo{
  margin-right: 10px;
}
