<div class="fixed-navbar">
  <nav [ngClass]="navColor" class="navbar navbar-expand-lg">
    <a class="navbar-brand" routerLink="/"> <img id="pic-img" src="assets/img/icon.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mt-4" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/time">Tempo</a>
        <a class="nav-item nav-link" routerLink="/advance">Adiantamento</a>
        <a class="nav-item nav-link" routerLink="/refund">Reembolso</a>
        <a class="nav-item nav-link" routerLink="/reports">Relatórios</a>
        <a class="nav-item nav-link end" routerLink="/manage"><fa-icon class="fa" [icon]="faUser"></fa-icon> {{name}}</a>
        <!--a class="nav-item nav-link" routerLink="/profile">Meu Perfil</a-->
      </div>
    </div>
  </nav>
</div>
