<!--nav class="navbar navbar-expand-lg navbar-light bg-light sticky">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="/"> <img id="pic-img" src="assets/img/icon.png" alt="logo"></a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dash">Início <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/time">Tempo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/advance">Adiantamento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/refund">Reembolso</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/manage">Gerenciar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Meu Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Sair</a>
      </li>
    </ul>
  </div>
</nav-->


<div class="fixed-navbar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"> <img id="pic-img" src="assets/img/icon.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mt-4" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/dash">Início <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/time">Tempo</a>
        <a class="nav-item nav-link" routerLink="/advance">Adiantamento</a>
        <a class="nav-item nav-link" routerLink="/refund">Reembolso</a>
        <a class="nav-item nav-link" routerLink="/manage">Gerenciar</a>
        <a class="nav-item nav-link" routerLink="/profile">Meu Perfil</a>
        <a class="nav-link nav-link" (click)="logout()">Sair</a>
      </div>
    </div>
  </nav>
</div>
