@import url('https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css');

a {
  font-size: 15px;
  font-family: 'Gilroy-Bold', sans-serif;
  margin-right: 20px;
  color: white;

}

a:hover {
  color: #FFFFFF;
  transform: scale(1.3);
}

.nav-green {
  background-color: #357a38;
}

.nav-blue {
  background-color: #20B2AA;
}

.nav-red {
  background-color: #B22222;
}

.nav-gray {
  background-color: #2F4F4F;
}

.nav-black {
  background-color: #000000;
}

.nav-purple {
  background-color: #9370DB;
}

.nav-pink {
  background-color: #FF00FF;
}

#pic-img {
  max-height: 30px;
}

@media only screen and (min-width: 992px) {

  .fixed-navbar {
    position: fixed;
    z-index: 10;
    width: 200%;
    top: 0;
  }
}

.end {

  position: fixed;
  right: 0;
}

// this is a black icon with 50% opacity
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;..");
}

// this is a white icon with 50% opacity
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;..");
}
