
@import url('https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css');
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

  a{
    font-size: 22px;
    font-family: 'Gilroy-Bold', sans-serif;
  }

  #pic-img{
    max-height:50px;
    top: 0;
  }


