<div class="container">
  <div class="col-md-12 navbar-adjust">
    <div class="row">
      <div class="col-md-4">
        <div class="list-group" id="myList" role="tablist">
          <a *ngIf="user.admin" [ngClass]="{'active': user.admin}" class="list-group-item list-group-item-action"
            data-toggle="list" href="#plan" role="tab">Plano</a>
          <a [ngClass]="{'active': !user.admin}" class="list-group-item list-group-item-action" data-toggle="list"
            href="#profile" role="tab">Perfil</a>
          <a *ngIf="user.admin" class="list-group-item list-group-item-action" data-toggle="list" href="#team"
            role="tab">Meu Time</a>
          <a *ngIf="user.admin" class="list-group-item list-group-item-action" data-toggle="list" href="#projects"
            role="tab">Projetos</a>
          <a *ngIf="user.admin" class="list-group-item list-group-item-action" data-toggle="list" href="#tasks"
            role="tab">Atividades</a>
          <a *ngIf="user.admin" class="list-group-item list-group-item-action" data-toggle="list" href="#integration"
            role="tab">Integrações</a>
          <a *ngIf="user.admin" class="list-group-item list-group-item-action" data-toggle="list" href="#settings"
            role="tab">Configurações</a>
          <a class="list-group-item list-group-item-action" (click)="logout()">Sair <fa-icon class="fa"
              [icon]="faSignOut"></fa-icon></a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content">
          <div class="tab-pane" [ngClass]="{'active': user.admin}" id="plan" role="tabpanel">
            <app-plan-account></app-plan-account>
          </div>
          <div class="tab-pane" [ngClass]="{'active': !user.admin}" id="profile" role="tabpanel">
            <app-profile></app-profile>
          </div>
          <div class="tab-pane" id="projects" role="tabpanel">
            <app-projects></app-projects>
          </div>
          <div class="tab-pane" id="tasks" role="tabpanel">
            <app-tasks-manager></app-tasks-manager>
          </div>
          <div class="tab-pane" id="team" role="tabpanel">
            <app-my-team></app-my-team>
          </div>
          <div class="tab-pane" id="integration" role="tabpanel">Integrações</div>
          <div *ngIf="user.admin" class="tab-pane" id="settings" role="tabpanel">
            <app-settings></app-settings>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(function () {
        $('#myList a:last-child').tab('show')
      })
    </script>
  </div>

</div>
