<header class="header">

  <h3 class="title-home text-muted">Plano <strong>Professional</strong></h3>

</header>

<div class="panel">
  <div class="card card--front">
    <div class="card__number">4111 **** **** 1111</div>
    <div class="card__expiry-date">10/17</div>
    <div class="card__owner">{{user.name}}</div>
    <img class="card__logo" src="assets/img/plan/visa.png" alt="visa" />
  </div>

  <div class="col-md-4">
    <input type="button" class="btn btn-primary btn-lg" value="Alterar Plano" />
  </div>
  <!--div class="card card--back">
    <div class="card__strip"></div>
    <div class="card__signature"></div>
    <div class="card__ccv">303</div>
  </div-->
</div>
