@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css');

.font{
  color: #0A273D;
  font-size: 42px;
  font-family: 'Gilroy-Bold', sans-serif;
}

.default-font{
  color: #0A273D;
  font-family: 'Gilroy-Bold', sans-serif;
}

.modal-position {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
