@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css');
@import 'https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap';
@import url('https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.4/chartist.min.css');
@import "~@ng-select/ng-select/themes/default.theme.css";

:root {
  --background-color: #f6f6f6;
  --background-Black: #1c181e;
  --primary-color: #357a38;
  --secondary-color: #1c181e;
  --danger-color: #4d0000;
  --text-color: #6c6c6c;
  --text-color-light: #90949c;
  --text-white: #fff;
  --color-header: #edeaea;
}

.title-home {
  color: #0A273D;
  font-size: 42px;
  font-family: 'Amatic SC';
}

.font-home {
  color: #0A273D;
  font-size: 20px;
  font-family: 'Amatic SC';
}


.default-font {
  color: #0A273D;
  font-family: 'Amatic SC';
  font-size: 2rem;
  font-weight: bold;
}

.modal-position {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

//EVITAR DESALINHAMENTO SCROLL QUANDO USA MAT DIALOG
.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
  overflow: auto;
  pointer-events: auto;
}

//STICKY

body {
  margin: 20px auto;
  font-family: 'Lato';
  background: #666;
  color: #fff;
}

.bg-color{
  background-color: #f7fced;
}

* {
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: bold;
  font-size: 1rem;
}

p {
  font-family: 'Amatic SC';
  font-size: 2rem;
}

ul,
li {
  list-style: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul li a {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  height: 15em;
  width: 20em;
  padding: 1em;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
  transform: rotate(-6deg);
  transition: transform .15s linear;
}

ul li:nth-child(even) a {
  transform: rotate(4deg);
  position: relative;
  top: 5px;
  background: #cfc;
}

ul li:nth-child(3n) a {
  transform: rotate(-3deg);
  position: relative;
  top: -5px;
  background: #ccf;
}

ul li:nth-child(5n) a {
  transform: rotate(5deg);
  position: relative;
  top: -10px;
}

ul li a:hover,
ul li a:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
  transform: scale(1.25);
  position: relative;
  z-index: 5;
}

ul li {
  margin: 2em;
}

.navbar-adjust {
  //AJUSTA FIXED NAVBAR
  margin-top: 100px;
}


.btn-custom-confirm {
  transition: all 0.3s linear 0s;
  color: #edeaea;
  background-color: var(--primary-color);
  border: 0.0625rem solid var(--primary-color);
  transform: skewX(-10deg);
  font-size: 1.2rem;
  font-family: 'Amatic SC';
  line-height: 0.875rem;
  padding: 1rem 1.875rem;
  text-transform: unset;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: .25rem;
}

.btn-custom-confirm:hover {
  filter: brightness(1.2);
  border-color: var(--primary-color);
}

.btn-custom-decline {
  transition: all 0.3s linear 0s;
  color: #edeaea;
  background-color: var(--secondary-color);
  border: 0.0625rem solid var(--secondary-color);
  transform: skewX(-10deg);
  font-size: 1.2rem;
  font-family: 'Amatic SC';
  line-height: 0.875rem;
  padding: 1rem 1.875rem;
  text-transform: unset;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: .25rem;
}

.btn-custom-decline:hover {
  filter: brightness(1.2);
  border-color: var(--secondary-color);
}

.btn-custom-reject {
  transition: all 0.3s linear 0s;
  color: #edeaea;
  background-color: var(--danger-color);
  border: 0.0625rem solid var(--danger-color);
  transform: skewX(-10deg);
  font-size: 1.2rem;
  font-family: 'Amatic SC';
  line-height: 0.875rem;
  padding: 1rem 1.875rem;
  text-transform: unset;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: .25rem;
}

.btn-custom-reject:hover {
  filter: brightness(1.2);
  border-color: var(--danger-color);
}
