<div *ngIf="!isLoading" class="col-md-12 table-responsive">
  <div class="row">
    <div class="col-md-4">
      <button type="button" class="btn btn-sm btn-success zoom" (click)="newProject()">
        <fa-icon class="fa" [icon]="faPlus"></fa-icon> Novo Projeto
      </button>
    </div>
  </div>
  <table class="table text-muted table-striped" aria-describedby="projetos">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Orçamento (Budget)</th>
        <th scope="col">Final do Projeto (Deadline)</th>
        <th scope="col">Mais</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{project.name}}</td>
        <td>{{project.budget}}</td>
        <td>{{project.endDate}}</td>
        <td><input type="button" class="btn btn-outline-primary btn-sm" value="Detalhes"></td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="isLoading" class="col-md-12 mt-4">
  <div class="center">
    <div class="spinner-border" style="width: 8rem; height: 8rem;" role="status">
      <span class="sr-only">Carregando...</span>
    </div>
  </div>
</div>
