<div class="modal-position col-md-12" id="modalAccount" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h2 class="modal-title default-font"><img src="assets/img/icon.png" class="logo default-font" alt="logo">
          Opportunity
        </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="mt-4 mb-4 pt-3 pb-3 col-12" [formGroup]="formReset" (ngSubmit)="enviar()">
          <h2 class="mb-5 text-center default-font">Esqueceu sua <span class="text-yellow">Senha?</span></h2>
          <h4 class="mb-5 text-center default-font">Insira seu email cadastrado e iremos enviar um link para a troca da sua senha</h4>
          <div class="form-group">
            <!--label for="emailReset">Insira seu Email cadastrado*</label-->
            <input type="email" placeholder="Email Corporativo" class="form-control" id="emailReset" aria-describedby="emailReset"
              formControlName="emailReset" name="emailReset">
            <ng-container *ngIf="formReset.controls.emailReset.touched">
              <span *ngIf="formReset.controls.emailReset.errors?.required">
                Campo obrigatório
              </span>
              <span *ngIf="formReset.controls.emailReset.errors?.emailReset">
                Email inválido
              </span>
            </ng-container>
          </div>
          <div class="alert col-md-12" [ngStyle]="{'color': messageType == 'success' ? 'green' : 'red'}" role="alert">
            {{message}}
          </div>
          <button type="submit" class="btn-custom-confirm mb-3" [disabled]="!formReset.valid || isLoading">
            <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
            Redefinir</button>
        </form>
      </div>
    </div>
  </div>
</div>
